*{
    margin: 0;
    padding: 0;
} 
header p{
    font-size: 75px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center; 
    letter-spacing: 2px;
    padding: 10px;
    /* background-color: transparent; */
}
.inst{
        width: 60vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    background-color: #549ebb;
    padding: 5px;
    border-radius: 25px;
    color: white;
    letter-spacing: 1px;
}
.inst-cont{
       display: flex;
    justify-content: center;
    align-items: center; 
}
.note{
    font-family:  Haettenschweiler, 'Arial Narrow Bold', sans-serif;;
}
.note span{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
article{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
article div{
    border: solid 2px black;
    width: 200px;
    height: 200px;
    margin: 25px;
}
article div img{
  width: 100%;
  height: 100%;
}
.logo-container{
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: space-evenly;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 35px;
}
.fa-book-open-reader{
    color: #549ebb;    
}
.fa-face-smile{
background: #FFD43B;
border-radius: 50%;
}
footer {
    background-color: #549ebb;
    padding: 30px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 15px;
  }
footer i{
    font-size: 18px;
    margin:3px;
    color: white;
}  
footer i:hover{
        color: red;
        font-size: 22px;
        transition-duration: 0.4s;
        cursor: pointer;
}
